<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Bem-vindo ao Opensurveys!</h1>
    </br>
    <p>O Opensurveys é uma plataforma geradora de questionários, permitindo que você cadastre vários questionários com quantas questões você precisar!</p>
    <p>Além disso, o Opensurveys permite vários tipos de respostas para seus questionários, como múltipla escolha, escolha única, textual, dentre outros.</p>
    <p>Você também poderá compartilhar seu questionário com outras pessoas, permitindo que elas respondam seu questionário, e até mesmo sendo possível você ver posteriormente as respostas que foram colocadas!</p>
  </div>
</div>

</body>
</html>
