<p id="notice"><%= notice %></p>

<p>
  <strong>Background image url:</strong>
  <%= @styles_config.background_image_url %>
</p>

<%= link_to 'Edit', edit_styles_config_path(@styles_config) %> |
<%= link_to 'Back', styles_configs_path %>
